<nav class="w-screen m-0 p-2 h-[5vh] bg-blue-mid">
    <a class="text-white text-2xl ml-20" href="/">OpenClass-TFG</a>
    <!-- <ul class="list-none h-full grid grid-cols-3 text-center items-center max-w-[20%] font-bold text-white cursor-pointer">
        <li class="hover:scale-105 hover:border-b-2">HGola</li>
        <li class="hover:scale-105">HGola</li>
    </ul> -->
</nav>